---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Agosto 2019 - Febrero 2025",
    title: "Desarrollador Frontend",
    company: "Perceptyx",
    description:
      "Desarrollo frontend en el servicio de encuestas empresariales y planes de acción, colaborando con un equipo para ofrecer soluciones a clientes globales. Trabajo con Vue y React, integrando APIs REST para optimizar la experiencia del usuario.",
  },
  {
    date: "Junio 2017 - Julio 2019",
    title: "Desarrollador Frontend",
    company: "Red Arbor",
    description:
      "Participaba en el desarrollo de software para la gestión de candidatos y empleados en empresas de Latinoamérica. Desarrollo en .NET y Razor con Vanilla JavaScript y Bootstrap en el frontend.",
  },
  {
    date: "Noviembre 2014 - Febrero 2017",
    title: "Desarrollador Frontend",
    company: "Accenture",
    description:
      "Trabajaba en un equipo dentro de la consultora Accenture, desarrollando aplicaciones para clientes internacionales en entornos .NET, incluyendo plataformas como Sitecore.",
  },
];

---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
