---
import ExperienceItem from "./ExperienceItem.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const EXPERIENCE = [
  {
    date: t("experience.job_one_date"),
    title: t("experience.job_title"),
    company: "Perceptyx",
    description: t("experience.job_one_description"),
  },
  {
    date: t("experience.job_two_date"),
    title: t("experience.job_title"),
    company: "Red Arbor",
    description: t("experience.job_two_description"),
  },
  {
    date: t("experience.job_three_date"),
    title: t("experience.job_title"),
    company: "Accenture",
    description: t("experience.job_three_description"),
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
