---
import { languages } from "@/i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<ul id="language-menu" class="language-menu">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={translatePath("/", lang)}>{label}</a>
      </li>
    ))
  }
</ul>
<style>
  .language-menu {
    align-items: center;
    background-color: #f5c95a;
    color: #13151a;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 12%;
    width: 42px;
  }

  .language-menu li {
    width: 42px;
    text-align: center;
    padding: 8px;
  }

  .language-menu li:last-child {
    border-top: 1px solid #13151a;
  }

  :is(.dark .language-menu) {
    background-color: #25334f;
    color: #ffffff;
  }

  :is(.dark .language-menu) li:last-child {
    border-top-color: #ffffff;
  }
</style>
